* {
    padding: 0;
    margin: 0;
    font-family: 'Tahoma', Arial, sans-serif;
}

.principal {
    box-sizing: border-box;
    padding: 80px 90px;
}

.topo {
    position: relative;
    background-color: #12293b;
    width: 100%;
    height: 45px;
    padding: 5px 0;
}

#logo {
    height: 35px;
    position: absolute;
    top: 5px;
    left: 20%;
}

#navegacao {
    position: absolute;
    top: 20px;
    right: 8%;
}

#navegacao li {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 2px;
    padding: 15px;
}
#navegacao a {
    text-decoration: none;
    color: #265983;
    transition: color .5s linear;
}

#navegacao a:hover {
    color: white;

}

#banner {
    width: 100%;
    padding-bottom: 65px;
}

.portifolio h1 {
    margin: auto;
    width: 90%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #051725;
    padding: 20px 50px;
}

.portifolio p {
    margin: auto;
    padding: 0 130px 90px 130px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: #556069;
}

.gallery {
    width: 75%;
    padding-bottom: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gallery-card img {
    width: 280px;
    height: 200px;
    padding: 12px;
}

.gallery-card .gallery-title {
    padding-top: 6px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    letter-spacing: 5px;
    color: #394046;
}

.gallery-card .gallery-text {
    padding: 10px 0;
    text-align: center;
    color: #65696d;
}

.about {
    padding: 100px;
    background-color: #003d52;
    background-image: url("../imagens/bg_detalhe.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    color: white;
    height: 65vh;
}

.about #titulo-about {
    text-transform: uppercase;
    font-size: 60px;
}

.about #text {
    padding-top: 40px;
    line-height: 1.8;
    width: 55%;
}

#contact {
    padding-bottom: 50px;
    text-align: center;
}

#contact address {
    padding: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #12293b;
}

.maps {
    margin: auto;
}

.rodape {
    padding-top: 25px;
    margin: auto;
    height: 40px;
    font-size: small;
    letter-spacing: 5px;
    text-align: center;
    background-color: #003d52;
    color: #5a869c;
}



